body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  width: 100%;
  height: 100%;
  /*max-width: 680px;*/
}

.TaskContainer {
  display: flex;
  flex-direction: column;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30%;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.options-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  height: 37%;
  flex-grow: 4;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  border-style: solid;
  border-color: black;
  border-width: 1px;

}
.options-elements:hover{
  background-color: yellow;
  transition: transform .4s;
  transform: scale(1.1);
}
